.ui-paginator {
	line-height: 100%;
	font-family: monospace;
}

.ui-confirm-dialog-message {
	font-size: medium;
}

.ui-dialog-buttonpane {
	text-align: center;
	font-weight: normal;
}

.ui-dialog-content {
	text-align: left;
}

.ui-picklist .ui-picklist-filter {
	width: 100%;
	margin-bottom: 15px;
}

.ui-picklist-filter-container {
	margin-bottom: 15px;
}

.ui-icon .ui-icon-seek-first .ui-paginator-first .ui-state-default {
	border-color: #0f669d;
	color: #FFF !important;
	text-shadow: 0 -1px 0 #216ea6 !important;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 3px
		rgba(0, 0, 0, 0.35) !important;
	background: #1888ce !important;
	left: 50%;
	margin-left: -8px;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	text-shadow: 0 -1px 0 #1584de !important;
	background-position: -240px -32px;
	background-image:
		url("/client/javax.faces.resource/images/ui-icons_ffffff_256x240.png.html?ln=primefaces-delta");
}

.ui-icon .ui-icon-seek-prev {
	border-color: #0f669d;
	color: #FFF !important;
	text-shadow: 0 -1px 0 #216ea6 !important;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 3px
		rgba(0, 0, 0, 0.35) !important;
	background: #1888ce !important;
	left: 50%;
	margin-left: -8px;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	background-image:
		url("/client/javax.faces.resource/images/ui-icons_ffffff_256x240.png.html?ln=primefaces-delta");
}

.ui-icon .ui-icon-seek-next {
	border-color: #0f669d;
	color: #FFF !important;
	text-shadow: 0 -1px 0 #216ea6 !important;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 3px
		rgba(0, 0, 0, 0.35) !important;
	background: #1888ce !important;
	left: 50%;
	margin-left: -8px;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	background-image:
		url("/client/javax.faces.resource/images/ui-icons_ffffff_256x240.png.html?ln=primefaces-delta");
}

.ui-icon .ui-icon-seek-end {
	border-color: #0f669d;
	color: #FFF !important;
	text-shadow: 0 -1px 0 #216ea6 !important;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 3px
		rgba(0, 0, 0, 0.35) !important;
	background: #1888ce !important;
	left: 50%;
	margin-left: -8px;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	background-image:
		url("/client/javax.faces.resource/images/ui-icons_ffffff_256x240.png.html?ln=primefaces-delta");
}

#permisosAsociados {
	width: 100%;
}

#permisosAsociados button {
	float: none;
	display: block;
	margin: 3px auto auto auto;
	position: relative;
}

#permisos {
	width: 100%;
}

#rolesAsociados {
	width: 100%;
}

#rolesAsociados button {
	float: none;
	display: block;
	margin: 3px auto auto auto;
	position: relative;
}

#roles {
	width: 100%;
}

.ui-picklist .ui-picklist-list {
	width: inherit;
}

.ui-dialog-buttonpane .ui-widget-content .ui-helper-clearfix input {
	
}

#datatable-header {
	font-weight: none;
}

.logout {
	text-align: right;
}

#fields td {
	padding-right: 45px;
	padding-bottom: 12px;
}

.ui-datatable thead th,.ui-datatable tbody td,.ui-datatable tfoot td {
	border-style: none;
}

.ui-datatable thead th,.ui-datatable tfoot td {
	text-align: left;
}

.ui-datatable .ui-paginator {
	display: inline-block;
	padding-left: 0;
	margin: 0px 0px;
	border-radius: 4px;
}

.ui-widget-header {
	display: inline-block;
	background-color: #fff;
	width: 100%;
	position: relative;
}

.ui-datatable .ui-paginator-first {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	position: relative;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.ui-datatable .ui-paginator-last {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	position: relative;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.ui-datatable .ui-paginator-prev {
	position: relative;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.ui-datatable .ui-paginator-next {
	position: relative;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.ui-datatable .ui-paginator>span {
	position: relative;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
}

.ui-datatable .ui-paginator-bottom {
	position: relative;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
}

.ui-datatable .ui-paginator-page {
	position: relative;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.ui-datatable .ui-paginator-pages {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

span.ui-paginator-prev.ui-state-default.ui-corner-all.ui-state-disabled
	{
	color: grey;
}

span.ui-paginator-first.ui-state-default.ui-corner-all.ui-state-disabled
	{
	color: grey;
}

span.ui-paginator-next.ui-state-default.ui-corner-all.ui-state-disabled
	{
	color: grey;
}

span.ui-paginator-last.ui-state-default.ui-corner-all.ui-state-disabled
	{
	color: grey;
}

.ui-datatable .ui-state-hover {
	color: #2a6496;
	background-color: #eee;
	border-color: #ddd;
}

.ui-datatable .ui-state-active {
	z-index: 2;
	cursor: default;
	color: #2a6496;
	background-color: #eee;
	border-color: #ddd;
}

.table {
	margin-bottom: 0px;
}

.panel-title {
	text-align: center;
}

.ui-icon {
	display: inline;
}

input {
	width: 100%;
}

.panel-tabed {
	border-top: none;
	border-top-left-radius: initial;
	border-top-right-radius: initial;
}

.ui-selectonemenu-panel {
	/*position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: block;
	float: left;*/
	min-width: 90px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.ui-selectonemenu-items {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}

.ui-selectonemenu-items .ui-state-highlight {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5; /*#428bca -> azul*/
	outline: 0;
}

.ui-selectonemenu-items .ui-state-hover {
	color: #555;
	text-decoration: none;
	background-color: #f5f5f5; /*#428bca -> azul*/
	outline: 0;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	top: auto;
}

.combo {
	width: 100%;
}

.menu-btn {
	width: 100%;
	border-color: transparent;
	text-align: left;
}

.btn-group .ui-button {
	margin: 0px;
}


.fondo-gris .ui-button {
	margin-left: 3px;
	margin-right: 3px;
}


.open>.dropdown-menu.ocultar {
	display: none;
}

.open>.dropdown-menu.mostrar {
	display: block;
}

.combo label {
	text-align: left;
	padding: 0px;
	color: #555;
	width: 95%;
}

.ui-datatable tbody td {
	overflow: visible;
}

.has-success .ui-state-focus:focus {
	border-color: #2b542c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}

.ui-state-focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
}

.ui-selectonemenu-trigger.ui-state-focus {
	border-color: rgb(51, 51, 51);
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.seleccionarTipoProtesta {
	border-color: #2b542c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}

.ui-helper-clearfix:after {
	display: inherit;
}

.ui-selectonemenu {
	width: 100% !important;
}

.ui-selectonemenu-label {
	width: 99% !important;
}


.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity =           0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.fondo-gris {
	background-color: #f8f8f8;
}

h5 {
	font-size: 16px;
}

.navbar-brand {
	font-size: 20px;
}

.navbar-nav {
	font-size: 15px;
}

.titulo-panel {
	font-size: 16px;
}

.mensaje {
	position: fixed;
	top: 0%;
	left: 0%;
	/*margin-left: -150px;*/
	width: 100%;
	z-index: 2000;
	height: auto;
	clear: both;
}

.alert {
	margin-bottom: 2px;
	border-radius: 0px;
}

.ui-fileupload-upload.ui-state-hover:hover,.ui-fileupload-cancel.ui-state-hover:hover,.ui-fileupload-choose.ui-state-hover:hover
{
	color: #333;
  	background-color: #ebebeb;
  	border-color: #adadad;
  	
}

.ui-messages .ui-widget .ui-helper-hidden {
	display: none;
	
}

.escondido {
	display: none;
}


.ui-fileupload-buttonbar .ui-button {
	vertical-align: middle;
	margin-right: -1px;
	padding-bottom: 5px;
}


span.ui-messages-error-icon {
	display: none;
}

.ui-messages-error, .ui-message-error {
	color: #b94a48;
	background-color: #ffffff;
	border: 0px;
}

.ui-button .ui-button-text {
	line-height: 1.3;
}

.ui-messages.ui-widget.ui-helper-hidden {
	display: block !important;
}

.ui-fileupload-upload,.ui-fileupload-cancel,.ui-fileupload-choose {
	display: inline-block;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1;
	border-radius: 3px;
	padding-bottom: 4px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	margin-bottom: 0;
	margin-right: -1px;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',
		endColorstr='#ff2d6ca2', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=           false);
	background-repeat: repeat-x;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.ui-chkbox.ui-widget .ui-helper-hidden-accessible {
	position: relative !important;
	margin-top: 7px;
}

.ui-chkbox.ui-widget input[type=checkbox] {
	width: inherit;
}

.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default {
	display: none;
}

.ui-fileupload-files {
	width: 100%;
}

input[type="file"] {
	display: block;
	background-color: #428bca;
	border-color: #357ebd;
}

.escrito {
	white-space: pre-wrap;
}

/*editor*/
.ui-editor {
	background: none #FFFFFF;
	border-radius: 4px;
}

.ui-editor-toolbar {
	background: #f8f8f8;
	border-bottom: 1px solid #ddd;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	vertical-align: middle;
}

.ui-panel .ui-panel-content {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.ui-panel {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.panel iframe {
	/*height: 400px !important;*/
	
}

.ui-datatable-even {
	background: #FBFBFB;
}

h1,.h1 {
	font-size: 18px;
}

h1,.h1,h2,.h2,h3,.h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.table-default .ui-datatable-even {
	background: transparent;
}


/* Estilos para el autocomplete */

.ui-autocomplete .ui-autocomplete-input{
	display: inline-table;
}

.ui-autocomplete .ui-inputfield {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.ui-autocomplete-panel {
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.ui-autocomplete-items {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}

.ui-autocomplete-items .ui-state-highlight {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5; /*#428bca -> azul*/
	outline: 0;
}

.ui-autocomplete-items .ui-state-hover {
	color: #555;
	text-decoration: none;
	background-color: #f5f5f5; /*#428bca -> azul*/
	outline: 0;
}

.bfh-timepicker-toggle > input[readonly] {
	background-color: #EEE;
}

/* Estilos personalizados del widget selector de fecha */
.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
	background-color: #DBDBDB;
}

.datepicker table tr td.today:hover, .datepicker table tr td.today:hover:hover, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today.disabled:hover:hover, .datepicker table tr td.today:focus, .datepicker table tr td.today:hover:focus, .datepicker table tr td.today.disabled:focus, .datepicker table tr td.today.disabled:hover:focus, .datepicker table tr td.today:active, .datepicker table tr td.today:hover:active, .datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled:hover:active, .datepicker table tr td.today.active, .datepicker table tr td.today:hover.active, .datepicker table tr td.today.disabled.active, .datepicker table tr td.today.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.today, .open .dropdown-toggle.datepicker table tr td.today:hover, .open .dropdown-toggle.datepicker table tr td.today.disabled, .open .dropdown-toggle.datepicker table tr td.today.disabled:hover {
	background-color: #DBDBDB;
}

td.day.active {
	background-color: #3276B1;
}


.datepicker .table-condensed {
	margin-top : 5px;
}

.datepicker  th.prev span {
	color: #3276b1;
	border-color: #285e8e;
}

.datepicker  th.next span {
	color: #3276b1;
	border-color: #285e8e;
}

/* Ajax Status */
.status {
	position: fixed;
	top: 98%;
	left: 0%;
	width: 100%;
	z-index: 1000;
	height: auto;
	clear:both;
	display: none;
}

.status-bar {
	width: 100%;
	border-radius: 0px;
}

/*Superposición del modal a los mensajes */
.modal-open .alert {
	opacity:0;	
}

/* Clases para los anchos del contenido de los combos */
@media (min-width: 992px) {
 .combo-md-12 {
    width: 97%;
  }
 .combo-md-11 {
    width: 91.66666667%;
  }
 .combo-md-10 {
    width: 83.33333333%;
  }
 .combo-md-9 {
    width: 75%;
  }
 .combo-md-8 {
    width: 66.66666667%;
  }
  
  .combo-modal-md-8 {
    width: 23.6666667%;
  }
  
 .combo-md-7 {
    width: 58.33333333%;
  }
 .combo-md-6 {
    width: 46%;
  }
 .combo-md-5 {
    width: 37.96%;
  }
 .combo-md-4 {
    width: 30%;
  }
 .combo-md-3 {
    width: 22%;
  }
 .combo-md-2 {
    width: 16.66666667%;
  }
 .combo-md-1 {
    width: 8.33333333%;
  }
}

/*button group */
.btn-group .caret-in-group {
width: 30px;
}

.caret-in-group .ui-button-text {
padding-right: 1px !important;
padding-left: 1px !important;
}

/* desaparecer el toolbar del rich editor cuando está disable */
.editor-disabled .ui-editor-toolbar {
	display:none;
}

.na-style{
	font-weight: normal;
	vertical-align: middle;
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
}

/* Footer de las tablas (Para total de registros) */
.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
	border-top-width: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 12px;
}

/* validacion */
.has-error {
	border-color: #a94442;
}

.has-success {
	border-color: #3c763d;
}

/* ocultar botón de atrás */
.hide-btn {
	border: none;
	color: inherit;
 	background: inherit;
 	font-size: 15px;
 	margin-left: 0px;
	margin-right: 0px;
	top: 0px;
}
.hide-btn:hover {
	color: #428BCA;
}

/* color del ckeditor con error */
.has-error .cke_ltr {
	border-color: #a94442;
}

.has-success .cke_ltr {
	border-color: #3c763d;
}

/*ocultar los botones del ckeditor en readonly */
.ck-readonly .cke_toolbox {
	display: none;
}

.ck-readonly .cke_top, .ck-readonly .cke_bottom {
	padding: 0px 7px 10px 2px;
	height: 10px !important;
}

/* selección de filas en mantenimiento del llamado */
.selected-row {
	background: rgba(42, 100, 150, 0.2);
}


/* submenú para bootstrap 3 */

.dropdown-submenu {
	position: relative;
}
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: 0px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}
.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
	border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}


/* Arreglos para adaptar al template DNCP */
body, .form-control, label, .ui-selectonemenu-panel, .ui-autocomplete .ui-inputfield {
	font-size: 12px;
}

.btn.btn-sm {
	font-size: 11px;
}

.btn-xs, .btn-group-xs > .btn {
	font-size: 11px;
}

.form-horizontal .control-label {
	text-align: left;
}


.navbar-brand {
	font-size: 14px;
}

.navbar-nav, .navbar-nav .dropdown-menu {
	font-size: 13px;
}

.titulo-panel {
	font-size: 12px;
}

h1 {
	font-size: 15px;
}

h5 {
	font-size: 13px;
}

.nav > li > a {
	padding: 6px 8px;
}

.navbar {
	min-height: 37px;
}

.ui-button .ui-button-text {
	line-height: 1;
}

.ui-button .ui-button-text {
	line-height: 1.3;
}

.btn {
	line-height: 1.7;
}

.input-group-btn .ui-button .ui-button-text {
	line-height: 1.4;
}

.ui-paginator {
	font-size: 11px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 10px;
	padding-left: 10px;
}

.btn-sm, .btn-group-sm > .btn {
	line-height: 1.5;
}

.dropdown-menu > li > a {
	padding-right: 5px;
	padding-left: 16px;
}

.btn-group .dropdown-menu {
	min-width: 114px;
	width: 100%;
}

.datepicker.dropdown-menu {
	font-size: 11px;
}

#contenido {
	padding: 15px;
}